@model IEnumerable<DemandMetalFab.Models.MF_Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Machines</h2>
<br />
@if (DemandMetalFab.GlobalCode.Settings.LoggedUser != null)
{
    <input type="button" class="btn btn-primary" onclick="agregarmachine()" value="Add new machine" />
    <br />
    <br />
}
<table class="table dt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MF_Sector.Sector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MF_Sector.Sector)
            </td>
            <td>
                @if (DemandMetalFab.GlobalCode.Settings.LoggedUser != null)
                {
                    <div class="input-group w-100">
                        <div class="text-right">
                            <button data-original-title="Edit @item.Machine" type="submit" onclick="editarmachine(@item.Id_Machine)" class="btn btn-outline-success" data-toggle="tooltip">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <br />
                        <br />
                        <div class="text-right">
                            <button data-original-title="Delete @item.Machine" onclick="eliminarmachine(@item.Id_Machine)" type="submit" class="btn btn-outline-danger" data-toggle="tooltip">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<div id="modalproject"></div>

<script type="text/javascript">
    $(document).ready(function () {

    });
    function agregarmachine() {
        $("#modalproject").empty();
        $("#modalproject").load("@Url.Action("AddMachinePartial","Machine")", {}, function () {

        });
    }
    function editarmachine(id) {
        $("#modalproject").empty();
        $("#modalproject").load("@Url.Action("EditmachinePartial","Machine")?id="+id);
    }
    function eliminarmachine(id) {
        $("#modalproject").empty();
        $("#modalproject").load("@Url.Action("DeletemachinePartial","Machine")?id="+id);
    }
</script>
