@model DemandMetalFab.Models.MF_DemandDate

@{
    ViewBag.Title = "Details";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DemandDate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MF_Demand.Demand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MF_Demand.Demand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MF_WorkDate.Id_WorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MF_WorkDate.Id_WorkDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_DemandDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
