<script src="~/Content/ui-ecommerce/js/jquery-2.0.0.min.js"></script>
<script src="~/Content/ui-ecommerce/js/bootstrap.bundle.min.js"></script>
<link href="~/Content/ui-ecommerce/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/ui-ecommerce/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />

<table class="table table-bordered text-center">
    <thead>
        <tr >
            <th colspan="10" style="background-color:blue;color:white">MACHINE OCCUPATION</th>
        </tr>
        <tr>
            <th scope="col" style="background-color:blue;color:white">EFFICIENCY</th>
            @foreach (var item in DemandMetalFab.GlobalCode.Settings.db.MF_Machine)
            {
            <th scope="col" style="background-color:cornflowerblue;color:white">@item.Machine</th>
            }
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="background-color:blue;color:white">LIMIT</th>
            @for (int i = 0; i < 9; i++)
            {
                <td>100%</td>
            }
        </tr>
        <tr>
            <th scope="row" style="background-color:blue;color:white">90%</th>
            @foreach (var item in (List<DemandMetalFab.Models.Grafica>)ViewBag.ocupacion)
            {
                if (item.Total_Ocupacion <= 70)
                {
                    <td style="background-color:lawngreen">@item.Total_Ocupacion%</td>
                }
                if (item.Total_Ocupacion > 70 && item.Total_Ocupacion <= 100)
                {
                    <td style="background-color:orange">@item.Total_Ocupacion%</td>
                }
                if (item.Total_Ocupacion > 100)
                {
                    <td style="background-color:red">@item.Total_Ocupacion%</td>
                }
            }
        </tr>
        <tr>
            <th scope="row" style="background-color:blue;color:white">100%</th>
            @foreach (var item in (List<DemandMetalFab.Models.Grafica>)ViewBag.ocupacion)
            {
                <td>@item.Ocupacion_Maquina.ToString("0.00")%</td>
            }
        </tr>
        <tr>
            <th scope="row" style="background-color:blue;color:white">MAINTENANCE</th>
            @for (int i = 0; i < 9; i++)
            {
                <td>0.4</td>
            }
        </tr>
    </tbody>
</table>